* {    
    margin: 0;
    padding: 0;
}

body{
    position:relative;
    height:100%;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ff4d94;
    box-sizing: border-box;
    border-bottom: 2px solid red;
}

nav ul {
    display:flex;
    justify-content: center;
}
nav ul li{
    list-style-type: none;
    padding: 0px 10px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-right: 2px solid #fff;
    margin: 15px 2px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-family: arial;
}

nav ul li:last-child {
    border-right: none;
}

.hdr-wraper{
    display: flex;
    justify-content:space-between;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #ff4d94;
    box-sizing: border-box;
    border-top: 2px solid red;
}



